@import models.requests.DataRequest
@import viewmodels.LegendSize

@this(
    layout: templates.Layout,
    formHelper: FormWithCSRF,
    govukErrorSummary: GovukErrorSummary,
    govukRadios: GovukRadios,
    govukButton: GovukButton,
    h1: components.h1,
    h2: components.h2
)

@(form: Form[_], mode: Mode)(implicit request: DataRequest[_], messages: Messages)

@layout(pageTitle = title(form, messages("$className;format="decap"$.title")), maybeShowActiveTrader = maybeShowActiveTrader(request)) {

    @formHelper(action = routes.$className$Controller.onSubmit(request.ern, request.draftId, mode), 'autoComplete -> "off") {

        @if(form.errors.nonEmpty) {
            @govukErrorSummary(ErrorSummaryViewModel(form))
        }

        @h2(messages("draftId.subHeading", request.draftId), "govuk-caption-xl")
        @govukRadios(
            RadiosViewModel.yesNo(
                field = form("value"),
                legend = LegendViewModel(Text(messages("$className;format="decap"$.heading"))).asPageHeading(LegendSize.Large)
            )
        )

        @govukButton(
            ButtonViewModel(messages("site.continue"))
        )
    }
}

@{
    //\$COVERAGE-OFF\$
}
