@import models.requests.DataRequest

@this(
    layout: templates.Layout,
    formHelper: FormWithCSRF,
    govukErrorSummary: GovukErrorSummary,
    govukRadios: GovukRadios,
    govukButton: GovukButton,
    h1: components.h1
)

@(form: Form[_], mode: Mode)(implicit request: DataRequest[_], messages: Messages)

@layout(pageTitle = title(form, messages("$className;format="decap"$.title"))) {

    @formHelper(action = routes.$className$Controller.onSubmit(request.ern, request.lrn, mode), 'autoComplete -> "off") {

        @if(form.errors.nonEmpty) {
            @govukErrorSummary(ErrorSummaryViewModel(form,  errorLinkOverrides = Map("value" -> "value_0")))
        }

        @govukRadios(
            RadiosViewModel(
                field  = form("value"),
                legend = LegendViewModel(HtmlContent(heading)).withCssClass("govuk-fieldset__legend govuk-fieldset__legend--l"),
                items  = $className$.options
            )
        )

        @govukButton(
            ButtonViewModel(messages("site.continue"))
        )
    }
}

@heading = {
    @h1("$className;format="decap"$.heading", Some(messages("lrn.subHeading", request.lrn)), "govuk-fieldset__heading")
}
