$govuk-assets-path: "/emcs/create-movement/assets/lib/govuk-frontend/govuk/assets/";
$hmrc-assets-path: "/emcs/create-movement/assets/lib/hmrc-frontend/hmrc/assets/";

@import "lib/govuk-frontend/govuk/all";
@import "lib/hmrc-frontend/hmrc/all";
@import "taskList.scss";
@import "primary-navigation";

.js-visible {
  display: none !important;
}
.js-enabled .js-visible {
  display: inline-block !important;
}

.float-none {
  float: none !important;
}

@media print {
  header, nav, footer {
    display: none;
  }
  .no-print, .no-print * {
    display: none !important;
  }
}

@import "accessible-autocomplete";
@import "active-trader-info";
